@use '../../styles/SassStyle.scss' as *;

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 50px;
    height: 100px;

    .logo {
        flex: 1;

        img {
            width: 100px;
        }
    }

    .navlinks {
        flex: 1;
        display: flex;
        gap: 2rem;

        a {
            @include poppins;
            font-weight: 500;
        }
    }

    .auth {
        flex: 1;
        display: flex;
        justify-content: end;

        .profile {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;

            .searchbar {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: start;

                input {
                    height: 40px;
                    padding: 10px 25px;
                    background-color: rgba(0, 255, 255, 0.46);
                    border: none;
                    outline: none;
                }

                .close {
                    position: absolute;
                    right: 10px;
                }
            }

            img {
                height: 30px;
                object-fit: cover;
            }
        }

        button {
            background-color: rgba(0, 0, 255, 0.644);
            color: white;
            padding: 6px 20px;
            font-weight: 600;
            border-radius: 10px;
            transition: 0.1s;

            &:hover {
                transform: scale(1.05);
            }
        }


    }
}